<h1 style="text-align: center;">In case You want to contact us </h1>
<div class="text-center">
    <div class="mt-5">
        <h5>My Name : <span style="font-weight: lighter;"> Mohamed El Ghoul</span></h5>
        <h5>My Number Phone : <span style="font-weight: lighter;"> 52598118</span></h5>
        <h5>My Email : <span style="font-weight: lighter;">Mohamed.elghoul@ieee.org</span></h5>
        <h5>My Facebook Link  : <span style="font-weight: lighter;">https://www.https://www.facebook.com/Med.elghoul7/</span></h5>
        <h5>My Instagram Link  : <span style="font-weight: lighter;">https://www.instagram.com/mohamedelghoul8/</span></h5>
        <h5>My LinkedIn Link  : <span style="font-weight: lighter;">https://www.linkedin.com/in/mohamedelghoul8</span></h5>
    </div>
    <div class="my-5">
        <p style="font-size: x-large;">If You want to work an angular project contact me too.</p>
    </div>
</div>