<h1 style="text-align: center;">Welcome to <span style="color: #287FE6;">TASKS MANAGER </span> WEBSITE </h1>
<p class="mt-5" style="font-size: x-large;">This Website is an angular mini project !</p>
<p style="font-size: x-large;">Its idea is to manage your tasks within our website ! </p>

<p class="mt-5 mb-2" style="font-size: x-large;">This is some photo token of our website spaces. </p>

<div>
    <img src="../assets/Profile.png" class="rounded float-start w-50 border border-danger" alt="profile space photo">
    <img src="../assets/TasksWindow.png" class="rounded float-end w-50 border border-danger" alt="tasks space photo">
</div>
<div>
    <img src="../assets/taskEdit.png" class="rounded float-end w-50 border border-danger" alt="tasks space photo">
    <img src="../assets/tasksDetail.png" class="rounded float-start w-50 border border-danger" alt="profile space photo">
</div>